/* lorem ipsum dolor sit amet, consecteturm. */

/* lorem ipsum dolor sit 
amet, consecteturm. */
body { /* lorem ipsum dolor sit amet, consecteturm. */
/* lorem ipsum dolor sit amet, consecteturm. */
  margin: 0;
/* lorem ipsum 
       dolor sit amet, 
consecteturm. */
  padding: 0; 

}

/* lorem ipsum dolor sit amet, consecteturm. */


#content {
  /* lorem ipsum dolor sit amet, consecteturm. */

  margin: 10px /* lorem ipsum dolor 
  sit amet, consecteturm. */
  
}

/* lorem ipsum dolor sit amet, consecteturm. */

/* 
 lorem ipsum dolor sit
    amet, 
 consecteturm. 
 */


